<?php
/**
 * @category    design
 * @package     accessshop_lite_default
 * @copyright   Copyright (c) 2015 AccessShop Themes (http://www.accessshopthemes.com)
 *
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php

$mode = "";
?>
<ul class="nav navbar-nav menu">
<li class="level0 nav-0 first level-top <?php echo (Mage::helper('core/url')->getCurrentUrl() ==$this->getBaseUrl())?'active':''; echo ($mode=='demo')?' parent dropdown':'';?>">
    <a href="<?php echo $this->getBaseUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><span>Home</span></a>
    <ul class="level0 dropdown-menu" style="display: none;">
      
    </ul>
</li>
<?php $_menu = $this->getHtml('level-top') ?>
<?php if ($_menu): ?>
<?php echo $_menu ?>
<?php endif ?>
</ul>
